:root {
    --c-text: #fdd458;
    --c-accent: #F2B33D;
    --c-primary: #8C5818;
    --c-secondary: #59380E;
    --c-background: #0D0D0D;
}

html {
    scroll-behavior: smooth;
    font-family: 'Protest Strike', sans-serif;
}

body {
    background-color: var(--c-background);
    color: var(--c-accent);

    margin: 0;
    padding: 0;
}

/* - - - - Background - - - - */
#background {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;

    top: 0;
}

#startOverlay {
    background-color: black;

    position: absolute;
    z-index: 0;

    height: 100vh;
    width: 100%;
    transition: opacity 1s ease;
}

#blob {
    height: 40vmin;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, var(--c-secondary), var(--c-accent));
    animation: blobRotate 20s infinite;
    opacity: 0.8;
    z-index: -3;
}

#blobBlur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
    backdrop-filter: blur(12vmin);
}